<div id="<%= dom_id inventory %>">
  <p>
    <strong>Warehouse:</strong>
    <%= inventory.warehouse.name %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= inventory.item.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

</div>