<table>
  <thead>
    <tr>
      <th>Warehouse</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.warehouse.name %></td>
        <td><%= inventory.item.name %></td>
        <td><%= inventory.quantity %></td>
        <td><%= link_to "Show", inventory %></td>
      </tr>
    <% end %>
  </tbody>
</table>