<%= render "shared/header" %>

<p style="color: green"><%= notice %></p>

<h2>Inventories</h2>

<%= link_to "New inventory", new_inventory_path %>

<hr>

<%= render "table", inventories: @inventories %>
