<p style="color: green"><%= notice %></p>

<h2>Inventory</h2>

<%= render @inventory %>

<div>
  <%= link_to "Edit this inventory", edit_inventory_path(@inventory) %>
  <%= button_to "Destroy this inventory", @inventory, method: :delete %>
</div>
