<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.sku %></td>
        <td><%= item.description %></td>
        <td><%= link_to "Show", item %></td>
      </tr>
    <% end %>
  </tbody>
</table>